<% if @edit.approved? or @edit.pending_national_approval? %>
  $('#edit-<%= @edit.id %>').remove();
<% elsif @edit.rejected? %>
  let card = $('#edit-<%= @edit.id %>');
  // remove all pending classes and add rejected class
  card.removeClass (function (index, className) {
    return (className.match (/(^|\s)pending-\S+/g) || []).join(' ');
  }).addClass('rejected');
  // add an explanation into the card of why approval became rejected
  card.find('.edit-description').append(
    '<div>This edit could not be approved: <%= @edit.record_errors %>.</div>'
  ).prepend('<i class="material-icons">warning</i>');
  // remove the actions
  card.find('.mdl-card__actions').remove();
<% else %>
  <% logger.error("approved edit #{@edit.id} left in non-approved state!") %>
  console.error("approved edit <%= @edit.id %> left in non-approved state!");
<% end %>