<% provide(:title, 'Curating') %>
<% if @edits.any? %>
    <div class="mdl-grid">
      <% @edits.each do |edit| %>
        <div class="mdl-cell mdl-cell--4-col">
          <%= render edit %>
        </div>
      <% end %>
    </div>
<% end %>
<% if @national_edits %>
    <div class="mdl-grid">
      <% @national_edits.each do |edit| %>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render edit %>
          </div>
      <% end %>
    </div>
<% end %>
<% unless @edits.any? or @national_edits %>
    <p>There are no pending edits for you to curate.</p>
<% end %>

<%= render 'shared/edit_message_dialog' %>

<%= render 'shared/dialog_activation' %>