<% provide(:title, 'Add New Mother Tongue Resource') %>
<h1><i class="material-icons large">add</i> new mother-tongue resource</h1>
<div class="row">
  <%= render partial: 'form', locals: {form_action: 'new'} %>
</div>