<ul class="collapsible" data-collapsible="expandable">
<li>
  <div class="collapsible-header">Weekly Tasks</div>
  <div class="collapsible-body">
    <div class="row">

      <div class="col s6 m4 l3">
        <div class="card-panel blue">
          Report with impact stories
        </div>
      </div>

      <div class="col s6 m4 l3">
        <div class="card-panel yellow">
          Multiplication report
        </div>
      </div>

      <div class="col s6 m4 l3">
        <div class="card-panel red">
          Tag impact reports
        </div>
      </div>

    </div>
  </div>
</li>
<li>
  <div class="collapsible-header">Monthly Tasks</div>
  <div class="collapsible-body">
    <div class="row">

      <div class="col s6 m4 l3">
        <div class="card-panel blue">
          Resource production and distribution numbers
        </div>
      </div>

      <div class="col s6 m4 l3">
        <div class="card-panel yellow">
          Bible Translation numbers
        </div>
      </div>

      <div class="col s6 m4 l3">
        <div class="card-panel red">
          Assess progress marker levels
        </div>
      </div>

    </div>
  </div>
</li>
</ul>