<% provide(:title, "Home") %>
<h1><i class="mdi-action-home"></i> home</h1>
<div class="collection">
  <a href="#" class="collection-item waves-effect"><i class="mdi-content-create"></i> Make report</a>
  <a href="#" class="collection-item waves-effect"><i class="mdi-action-assignment"></i> View my goals</a>
  <a href="#" class="collection-item waves-effect"><i class="mdi-communication-message"></i> View my messages</a>
</div>
