<% provide(:title, "Home") %>
<h1><i class="material-icons">home</i> home</h1>
<div class="collection">
  <a href="#" class="collection-item waves-effect"><i class="material-icons">create</i> Make report</a>
  <a href="#" class="collection-item waves-effect"><i class="material-icons">assignment</i> View my goals</a>
  <a href="#" class="collection-item waves-effect"><i class="material-icons">message</i> View my messages</a>
</div>
