<% provide(:title, "WhatsApp Report") %>
<h1>WhatsApp Report</h1>
<p>Use this button to send an LCR report by WhatsApp.</p>
<a class="whatsapp-link btn waves-effect waves-light" href="whatsapp://send?text=LCR%20Report%0D%0AYour%20name%3A%0D%0AReport%20state%3A%0D%0AReport%20date%3A%0D%0ARelating%20to%20language%28s%29%3A%0D%0AEnter%20your%20impact%2C%20need%20or%20challenge%20report%3A">Send WhatsApp Report <i class="material-icons right">send</i></a>