<%
  if logged_in_user.trusted?
    provide(:title, "Organisation: #{@organisation.name}")
  else
    provide(:title, "Organisation ##{@organisation.id}")
  end
%>

<h1><%= @organisation.name_with_abbr_or_not(logged_in_user) %></h1>

<style is="custom-style">
  .flex-equal-justified {
    @apply(--layout-horizontal);
    @apply(--layout-justified);
  }
</style>

<div class="flex-equal-justified">
  <% if @organisation.engaged_languages.any? %>
    <div>
      <h3><strong>Working</strong> with these language communities</h3>
      <ul class="mdl-list">
        <%= render partial: 'languages/language', collection: @organisation.engaged_languages  %>
      </ul>
    </div>
  <% end %>

  <% if @organisation.translating_languages.any? %>
    <div>
      <h3><strong>Translating</strong> with these language communities</h3>
      <ul class="mdl-list">
        <%= render partial: 'languages/language', collection: @organisation.translating_languages %>
      </ul>
    </div>
  <% end %>
</div>