<% provide(:title, "Organisation: #{@organisation.name}") %>
<h1><%= @organisation.name_with_abbr %></h1>

<style is="custom-style">
  .flex-equal-justified {
    @apply(--layout-horizontal);
    @apply(--layout-justified);
  }
</style>

<div class="flex-equal-justified">
  <% if @organisation.engaged_languages.any? %>
    <paper-card heading="Engaged with these language communities">
      <div class="languages card-content" role="listbox">
        <%= render partial: 'languages/language', collection: @organisation.engaged_languages  %>
      </div>
    </paper-card>
  <% end %>

  <% if @organisation.translating_languages.any? %>
    <paper-card heading="Translating Scriptures with these language communities">
      <div class="languages" role="listbox">
        <%= render partial: 'languages/language', collection: @organisation.translating_languages %>
      </div>
    </paper-card>
  <% end %>
</div>