<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Work to do</th>
      <th>No. of languages</th>
      <th>Total Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Survey needed, with
        possible need for SE / Storying</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>