<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a id="language-finish-line-dash-tab" href="#finish-line-dash-panel" class="mdl-tabs__tab is-active">Dashboard</a>
    <a id="translation-tab" href="#translation-panel" class="mdl-tabs__tab">Translation Info</a>
    <a href="#church-engagement-panel" class="mdl-tabs__tab">Church Engagement</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="finish-line-dash-panel">
    <div class="grid-layout">
      <div id="flm-table">
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
      <div id="flt-table">
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="translation-panel">

  </div>
  <div class="mdl-tabs__panel" id="church-engagement-panel">

  </div>
</div>