<tr>
  <td class="mdl-data-table__cell--non-numeric"><%= link_to "#{flm_table_row.name} [#{flm_table_row.iso}]", flm_table_row %></td>
  <% @flms.each do |flm| %>
    <% progress = flm_table_row.finish_line_progresses.find_by(finish_line_marker: flm) || FinishLineProgress.create_by(language: flm_table_row, finish_line_marker: flm) %>
    <td class="mdl-data-table__cell--non-numeric">
      <div class="mdl-selectfield mdl-js-selectfield">
        <%# generate options for each select box removing any nil options returned by human_of_status %>
        <% selectable_options = FinishLineProgress.statuses.to_a.map{ |t| [FinishLineProgress.human_of_status(t[0], flm.number), t[0]] }.select{ |x| x[0].present? } %>
        <%= select_tag "finish_line_status_#{flm_table_row.id}_#{flm.number}",
                       options_for_select(selectable_options, progress.status),
                       {class: 'mdl-selectfield__select'} %>
      </div>
    </td>
  <% end %>
</tr>