
    <%= link_to language, class: "collection-item" do %>
      <%= language.name %>
      <span class="secondary-content colour <%= language.colour %>">&nbsp;</span>
      <% if language.lwc? %>
        <span class="secondary-content lwc">LWC</span>
      <% end %>
    <% end %>