<% provide(:title, 'Show Language: ' + @language.name) %>
<% if current_user.can_edit_language? %>
  <%= link_to edit_language_path(@language), class: "waves-effect right btn" do %>
    <i class="material-icons left">create</i>
    Edit
  <% end %>
<% end %>
<h1><%= @language.name %></h1>
<p><%= @language.lwc? ? "language of wider communication" : "minority language" %></p>
<p><%= @language.description %></p>
