    <li class="collection-item">
      <i class="mdi-social-person"></i>
      <%= link_to user.name, user %>
      <% if current_user.can_delete_user? && !current_user?(user) %>
        <%= link_to user, method: :delete, class: "waves-effect waves-red btn-flat", data: { confirm: "Delete #{user.name}?" } do %>
        <i class="mdi-action-delete"></i>
        <% end %>
      <% end %>
    </li>