    <li class="collection-item" id="user-<%= user.id %>">
      <i class="material-icons">person</i>
      <% if logged_in_user.trusted? or logged_in_user?(user) %>
        <% user_name = user.name %>
      <% else %>
          <% user_name = "user ##{user.id}" %>
      <% end %>
      <%= link_to user_name, user %>
      <% if logged_in_user.admin? && !logged_in_user?(user) %>
        <%= link_to user, method: :delete, class: "waves-effect waves-red btn-flat", data: { confirm: "Delete #{user_name}?" } do %>
        <i class="material-icons">delete</i>
        <% end %>
      <% end %>
    </li>