<% if logged_in_user.trusted? or logged_in_user?(user) %>
    <% provide(:title, "Edit #{@user.name}'s profile") %>
<% else %>
    <% provide(:title, "Edit profile of user ##{@user.id}") %>
<% end %>
<% if logged_in_user?(@user)
     heading = "Edit your profile"
   else
     heading = "Edit user profile"
   end
%>
<h1><i class="material-icons large">create</i> <%= heading %></h1>
<div class="row">
  <%= render partial: 'form', locals: {form_action: 'edit'} %>
</div>