<% provide(:title, "Edit #{@user.name}'s profile") %>
<% if current_user?(@user)
     heading = "Edit your profile"
   else
     heading = "Edit user profile"
   end
%>
<h1><i class="material-icons large">create</i> <%= heading %></h1>
<div class="row">
  <%= render partial: 'form', locals: {form_action: 'edit'} %>
</div>