<% provide(:title, 'All users') %>
<h1><i class="material-icons large">people</i>
 All users</h1>

<%= will_paginate %>

<ul class="users collection">
  <%= render @users %>
</ul>

<%= will_paginate %>

<% if current_user.can_create_user? %>
  <%= link_to "Add user", new_user_path, class: "btn waves-effect" %>
<% end %>
