<% provide(:title, 'All users') %>
<h1><i class="mdi-social-people"></i>
 All users</h1>

<%= will_paginate %>

<ul class="users collection">
  <% @users.each do |user| %>
    <li class="collection-item">
      <i class="mdi-social-person"></i>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
