<% provide(:title, 'LCI Board Member Approval') %>
<% provide(:context_title, 'LCI Board Member Approval') %>
<% zone_approved_us = User.where(:registration_status => 1) %>

<% zone_approved_us.each do |us| %>
  <li class="mdl-list__item" id="required-board-member-approval-<%= us.id %>">
    <span class="mdl-list__item-primary-content mdl-cell--6-col">
       <%= us.name%>
    </span>
    <span class="mdl-list__item-primary-content mdl-cell--3-col">
    <%= button_to lci_board_member_accept_path(id: us.id),
                  class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect',
                  remote: true,
                  onclick: "return confirm('Are you sure?')",
                  method: :post do %>Approve
    <% end %>
    </span>
    <span class="mdl-list__item-primary-content mdl-cell--3-col">
    <%= button_to lci_board_member_reject_path(id: us.id),
                  class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect',
                  remote: true,
                  onclick: "return confirm('Are you sure?')",
                  method: :post do %>Reject
       <% end %>
    </span>
  </li>
<% end %>
