<% provide(:title, 'Show User: ' + @user.name) %>
<% if current_user.can_edit_user? || current_user?(@user) %>
  <%= link_to edit_user_path(@user), class: "waves-effect right btn" do %>
    <i class="material-icons left">create</i>
    Edit
  <% end %>
<% end %>
<h1><i class="material-icons prefix large">account_circle</i> <%= @user.name %></h1>
<p>Phone: <%= @user.pretty_phone %></p>
<p>Role: <%= @user.role.name %></p>
