<% if object.errors.any? %>
  <div id="error_explanation" class="card red">
    <div class="card-content">
      <span class="card-title white-text">
        <i class="material-icons">error</i>
        The form contains <%= pluralize(object.errors.count, "error") %>.
        <i class="material-icons right">more_vert</i>
      </span>
    </div>
    <div class="card-action">
      <ul id="error-list" class="collection">
      <% object.errors.full_messages.each do |msg| %>
        <li class="collection-item"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>