<div class="row">
  <div class="input-field col s12 m6">
    <%= f.text_area :content, class: 'materialize-textarea' %>
    <%= f.label(:content, Translation.get_string('what_action', logged_in_user)) %>
  </div>
  <div class="input-field col s12 m6">
    <i class="material-icons prefix">person</i>
    <%= f.label :responsible, 'Person responsible' %>
    <%= f.autocomplete_field :responsible, autocomplete_person_name_events_path %>
  </div>
</div>