<% show_state = true unless defined?(show_state) %>
<li class="filterable-item hide mdl-list__item" data-filter-label="state" data-state="<%= project_language.geo_state_id %>">
  <%= project_language.language_name %>
  <% if show_state %>
    (in <%= project_language.state_name %>)
  <% end %>
</li>