<div class="project-head">
  <h3 class="project-<%= @project.id %>-name"><%= @project.name %></h3>
  <% if logged_in_user.can_edit_project?(@project) %>
    <%= link_to edit_project_path(@project), remote: true, id: 'administer-project-button', class: 'mdl-button mdl-js-button mdl-button--raised' do %>
      Administer <i class="material-icons">settings</i>
    <% end %>
  <% end %>
</div>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

  <div class="mdl-tabs__tab-bar">
    <a id="teams-tab" href="#teams-panel" class="mdl-tabs__tab dirty">Church Teams</a>
    <a id="facs-tab" href="#facs-panel" class="mdl-tabs__tab dirty">Facilitators</a>
    <% if logged_in_user.admin? or @project.supervisors.include?(logged_in_user) or @project.stream_supervisors.include?(logged_in_user) %>
      <a id="quarterly-tab" href="#quarterly-panel" class="mdl-tabs__tab dirty">Quarterly Report</a>
      <a href="#overview-panel" class="mdl-tabs__tab">Overview</a>
    <% end %>
  </div>

  <div class="mdl-tabs__panel" id="teams-panel">
  </div>

  <div class="mdl-tabs__panel" id="facs-panel">
  </div>

  <div class="mdl-tabs__panel" id="quarterly-panel">
  </div>

  <div class="mdl-tabs__panel" id="overview-panel">
  </div>

</div>