<% @common_ministries.each do |stream| %>
  <p><%= stream.name %> for <%= @team.state_language.language_name %> in <%= @team.state_language.state_name %></p>
  <table>
    <head>
      <tr></tr>
    </head>
  </table>
<% end %>