const newLanguage = '<li class="mdl-list__item" data-language-id="<%= @language.id %>">\n' +
    '  <span class="mdl-list__item-primary-content"><%= @language.name %></span>\n' +
    '</li>';
$('#project-<%= @project.id %>-language-list').append(newLanguage);
