<% provide(:title, 'Projects') %>
<% provide(:context_title, 'Projects') %>

<ul class="mdl-list">
  <%= render @projects %>
  <li id="new-project-list-item" class="mdl-list__item">
    <%= form_for Project.new, remote: true do |f| -%>
      <div class="mdl-list__item-primary-content mdl-textfield mdl-js-textfield">
        <%= f.text_field :name, class: 'mdl-textfield__input' %>
        <%= f.label :name, 'New project name', class: 'mdl-textfield__label' %>
      </div>
    <%- end -%>
  </li>
</ul>