<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../iron-pages/iron-pages.html">

<dom-module id="easy-paper-tabs">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-tabs {
        background-color: var(--tabs-background-colour, mediumslateblue);
        --paper-tabs-selection-bar-color: var(--tabs-colour, white);
        color: var(--tabs-colour, white);
      }
    </style>

    <paper-tabs selected="{{selected}}">
      <content select="paper-tab"></content>
    </paper-tabs>

    <iron-pages selected="{{selected}}">
      <content selected=".page"></content>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: "easy-paper-tabs",
      properties: {
        selected: {
          type: Number,
          value: 0,
          notify: true,
          reflectToAttribute: true
        }
      }
    });
  </script>

</dom-module>
