<% provide(:title, 'National Dashboard') %>
<% provide(:context_title, 'All India') %>
<% provide(:super_container_class, 'compact') %>

<!-- breadcrumbs will go here -->
<!-- India | previously navigated Zone | previously navigated state | previously navigated language -->
<ul class="breadcrumbs">
  <li><%= link_to 'India', nation_path %></li>
</ul>

<% tabs = [:progress, :zones, :states, :languages] %>
<% tabs.append(:board) if logged_in_user.can_future_plan? %>
<% @tab ||= 'progress' %>

<%= render partial: 'shared/dashboard', locals: { tabs: tabs, dashboard_type: :nation } %>
