<% provide(:title, 'National Dashboard') %>
<% provide(:context_title, "All #{SagReporter::Application::NATION}") %>
<% provide(:super_container_class, 'compact') %>

<!-- breadcrumbs will go here -->
<!-- Nation | previously navigated Zone | previously navigated state | previously navigated language -->
<ul class="breadcrumbs">
  <li><%= link_to SagReporter::Application::NATION, nation_path %></li>
</ul>

<% tabs = [:progress, :zones, :states, :languages] %>
<% tabs += [:projects, :projects_overview] if logged_in_user.can_view_any_of_projects?(Project.all) %>
<% tabs.append(:board) if logged_in_user.can_future_plan? %>
<% @tab ||= 'progress' %>

<% @dashboard_type = :nation %>
<%= render partial: 'shared/dashboard', locals: { tabs: tabs } %>
