<% provide(:title, 'All tallies') %>
<h1><i class="material-icons large">assessment</i> All Tallies</h1>

<div class="collection">
  <% @tallies.each do |tally| %>
    <%= link_to tally, class: "collection-item" do %>
      <%= tally.name %>
      <span class="secondary-content colour <%= tally.topic.colour %>">&nbsp;
    <% end %>
  <% end %>
</div>

<br />

<% if current_user.can_create_tally? %>
  <%= link_to new_tally_path, class: 'btn right waves-effect waves-light' do %>
  <i class="material-icons right">add</i>
  New Tally
  <% end %>
<% end %>
