<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <tr><th>Deliverable</th><th>Target</th><th>Actual</th></tr>
  <% @stream.deliverables.order(:number).each do |deliverable| %>
    <tr>
      <td><%= deliverable.short_form.en %></td>
      <% target = QuarterlyTarget.find_by(state_language_id: @state_language_id, deliverable: deliverable, quarter: @quarter) %>
      <td><%= target ? target.value : '?' %></td>
      <td></td>
    </tr>
  <% end %>
</table>