/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */

@import "materialize/components/color";
$primary-color: color("cyan", "darken-2") !default;
//@import 'materialize';

@import 'material';

@import 'common';

.mdl-layout__content {
  padding: 24px;
}

.flash-message {
  margin: 1em auto;
  padding: 1em;
}

.attribution {
  font-size: x-small;
}

.debug_dump {
  clear: both;
  float: left;
  width: 96%;
  margin-top: 45px;
  margin-left: 2%;
  padding: 1ex;
  @include box_sizing;
  @include border-radius(5px);
  border: 1px solid black;
  background-color: #eee;
}

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

ul.pagination {
  min-height: 40px;
}

h1 {
  font-size: 3.5rem;
  i {
    position: relative;
    top: 0.17em;
  }
}

ul.collapsible {
  li {
    .collapsible-body {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}