.breadcrumbs {
  margin: 0;
  list-style: none;
  overflow: hidden;
  font: 18px Sans-Serif;

  li {
    float: left;
    a {
      color: white;
      text-decoration: none;
      padding: 10px 0 10px 65px;
      background: brown; /* fallback colour */
      background: hsla(34, 85%, 35%, 1);
      position: relative;
      display: block;
      float: left;
      &::after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border: {
          top: 50px solid transparent; /* Go big on the size and let overflow hide */
          bottom: 50px solid transparent;
          left: 30px solid hsla(34, 85%, 35%, 1);
        }
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }
      &::before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border: {
          top: 50px solid transparent; /* Go big on the size and let overflow hide */
          bottom: 50px solid transparent;
          left: 30px solid white;
        }
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 1;
      }
      &:hover {
        background: hsla(34, 85%, 25%, 1) !important;
        &:after {
          border-left-color:  hsla(34, 85%, 25%, 1) !important;
        }
      }
    }
    &:first-child a {
      padding-left: 10px;
    }
    &:nth-child(2) a {
      background: hsla(34, 85%, 45%, 1);
      &::after {
        border-left-color: hsla(34, 85%, 45%, 1);
      }
    }
    &:nth-child(3) a {
      background: hsla(34, 85%, 55%, 1);
      &::after {
        border-left-color: hsla(34, 85%, 55%, 1);
      }
    }
    &:nth-child(4) a {
      background: hsla(34, 85%, 65%, 1);
      &::after {
        border-left-color: hsla(34, 85%, 65%, 1);
      }
    }
    &:last-child a {
      background: transparent !important;
      color: black;
      pointer-events: none;
      cursor: default;
      &::after {
        border: 0;
      }
    }
  }
}