// Place all the styles related to the finish_line_progress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flm-table {
  .no-need-column {
    background-color: #e5e5e5;
    color: darkgrey;
  }
  .current-summary-column {
    border: 1px solid rgb(63,81,181);
  }
  .no-progress-column, [data-not-all-started] {
    background-color: deepskyblue;
  }
  .in-progress-column, [data-all-started] {
    background-color: gold;
  }
  .complete-column, [data-all-complete] {
    background-color: mediumseagreen;
  }
  [data-target-missed] {
    background-color: red;
  }
  #vision-finish-line-summary-row {
    td {
      font-weight: bold;
    }
  }
  .no-need-column, .no-progress-column, .in-progress-column, .complete-column {
    text-align: center;
  }
}