// Place all the styles related to the GeoState controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.last-set-date {
  font-size: small;
  font-style: italic;
}

.bulk-assess-input {
  width: 2em !important;
}