// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.collection-item {
	span.lwc {
		float: right;
		margin: -0.3em;
		background-color: #BBBBFF;
		font-size: small;
		padding: 0.3em;
		@include box_sizing;
		@include border-radius(4px);
	}
}

p.lwc {
	font-style: italic;
	padding: 1ex;
	@include box_sizing;
	@include border-radius(4px);
	display: inline-block;
	background-color: #BBBBFF;
}