// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

main.no-iso {
  background-color: lightgoldenrodyellow;
}

.mdl-layout.compact {

  .mdl-layout__header {
    min-height: 50px;
    .mdl-layout__drawer-button {
      margin-top: 0;
    }
    .mdl-layout__header-row {
      max-height: 50px;
    }
  }

  main {
    padding-top: 6px;
  }

  .breadcrumbs a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #flm-table {
    tbody td {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    thead th {
      padding-bottom: 3px;
    }
  }

  #aggregate-transformation-table {
    tbody td {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    thead th {
      padding-bottom: 3px;
    }
  }

  .language-table {
    th, td {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .language-name-cell {
      max-width: 4em;
    }
  }
}

.language-filter-controls {
  $bg: white;
  background-color: $bg;
  .over {
    padding: 1em;
    cursor: pointer;
    h3 {
      text-align: center;
    }
    &:hover {
      background-color: cyan;
    }
    position: relative;
    #finish-line-marker-select {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
  .under {
    background-color: $bg;
    display: none;
    position: relative;
    -webkit-transition: box-shadow 200ms;
    -moz-transition: box-shadow 200ms;
    -ms-transition: box-shadow 200ms;
    -o-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
    .shadow-clipper {
      display: none;
      width: 100%;
      height: 25px;
      background-color: $bg;
      position: absolute;
      top: -15px;
    }
    .mdl-list {
      margin: 0;
    }
  }
}


.language-item {
  border: 0.1ex solid #B0B0B0;
  border-bottom: 0;
  &.extinct {
    background-color: #DADADA;
  }
  &:hover {
    background-color: #E0E0F0;
  }
  &.extinct:hover {
    background-color: #CACADA;
  }
  span.iso {
    font-style: italic;
  }
  span.colour {
    min-width: 6em;
    @include box_sizing;
    @include border-radius(1ex);
    margin-right: 1em;
  }
  span.population, span.states, span.language-family, span.zones {
    padding-left: 3em;
  }
}

div.languages {
  border-bottom: 0.1ex solid #B0B0B0;
}

#language-overview-button:hover {
  background-color: #E0E0F0;
}

.iso-code {
  font-size: 24px;
}

.language-info {
  padding-right: 20px;
}

table.language-data th {
  vertical-align: top;
  text-align: end;
  padding: 1ex;
  font-size: 20px;
  font-weight: normal;
}

.finish-line-status  {
  overflow: auto;
  .nothing, [data-status-category="nothing"] {
    background-color: lightgrey;
  }
  .no_progress, [data-status-category="no_progress"] {
    background-color: lightskyblue;
    .finish-line-progress-icon {
      color: dodgerblue;
    }
  }
  .progress, [data-status-category="progress"] {
    background-color: palegoldenrod;
    .finish-line-progress-icon {
      color: orangered;
    }
  }
  .complete, [data-status-category="complete"] {
    background-color: springgreen;
    .finish-line-progress-icon {
      color: forestgreen;
    }
  }
}



.jp-info .mdl-card__title {
  height: 100px;
  background: image-url("jp_logo.png") no-repeat;
  background-size: cover;
  background-position: 0 -110px;
  .mdl-card__title-text {
    padding: 0.5ex;
    background-color: rgba(255,255,255,0.75);
  }
}

.impact-story .mdl-card__title {
  height: 100px;
  background: image-url("ripples.svg") no-repeat;
  background-size: cover;
  background-position: 0 -30px;
  .mdl-card__title-text {
    padding: 0.5ex;
    background-color: rgba(255,255,255,0.75);
  }
}

.impact-story .mdl-card__supporting-text {
  img {
    width: 100%;
    object-fit: contain;
  }
}

img.language-map {
  max-width: 100%;
}

h1.coloured {
  @include box_sizing;
  @include border-radius(4px);
  display: inline-block;
  padding: 10px;
}

p.iso {
  font-style: italic;
  padding: 1ex;
  @include box_sizing;
  @include border-radius(4px);
  display: inline-block;
  background-color: #BBBBFF;
}

#more-details-link {
  font-size: x-large;
  i {
    font-size: x-large;
  }
}

#finish-line-status-table thead {
  background-color: lightgrey;
  #finish-line-status-title {
    text-align: center;
    font-size: x-large !important;
  }
}

#more-language-details-title {
  background-color: lightgrey;
  font-size: x-large;
  text-align: center;
  padding: 24px;
  font-weight: bold;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.54);
}
#more-language-details-list {
  margin-top: 0;
  background-color: lavender;
}

.language-dashboard-right {
  margin: 0;
  padding-top: 0 !important;
  .mdl-cell {
    margin-top: 0;
  }
}

#languages-tab {
  overflow-x: auto;
}

.language-table-controls {
  display: flex;
  .mdl-switch {
    flex-basis: 15em;
  }
  button {
    margin: 1ex 1em;
  }
}

.language-table {
  .language-name {
    font-size: large;
  }
  tr.filters th {
    vertical-align: top;
  }
  thead tr {
    background-color: #e0e0e0
  }
  .filter-choices {
    background-color: #e0e0e0;
    position: absolute;
    z-index: 10;
    .filter-choice-done {
      float: right;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #f0f0f0;
    }
    tr:hover {
      background-color: #e0e0e0 !important;
      .flm-name {
        display: block;
      }
    }
  }
  td {
    padding: 0 14px !important;
  }
  .flm-name{
    position: absolute;
    display: none;
  }
  .mdl-selectfield {
    width: 8em;
    .mdl-selectfield__list-option-box {
      width: 13em;
      li[data-value="0"] {
        background-color: lightgrey;
        &:hover {
          background-color: grey;
        }
      }
      li[data-value="1"], li[data-value="2"], li[data-value="7"] {
        background-color: lightskyblue;
        &:hover {
          background-color: dodgerblue;
        }
      }
      li[data-value="3"] {
        background-color: palegoldenrod;
        &:hover {
          background-color: orangered;
        }
      }
      li[data-value="4"], li[data-value="5"], li[data-value="6"] {
        background-color: springgreen;
        &:hover {
          background-color: forestgreen;
        }
      }
    }
  }
  [data-finish-line-category="nothing"] .mdl-selectfield__box {
    background-color: lightgrey;
  }
  [data-finish-line-category="no_progress"] .mdl-selectfield__box {
   background-color: lightskyblue;
  }
  [data-finish-line-category="progress"] .mdl-selectfield__box {
   background-color: palegoldenrod;
  }
  [data-finish-line-category="complete"] .mdl-selectfield__box {
   background-color: springgreen;
  }
}

.populations-list {
  max-width: 40em;
}

.pending-field {
  background-color: cyan;
}

.pending-removal .org-name, .pending-approval .org-name {
  color: lightgrey !important;
}

#add-engaged-org-dialog, #add-translating-org-dialog {
  width: 350px;
  .mdl-dialog__content {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }
}

.mdl-dialog.wide {
  width: 350px;
}

table td.check {
  text-align: center !important;
}

table tr.divider {
  height: 25px !important;
}

.mdl-card.translation-status {
  width: initial;
  max-width: 400px;
}

#colour_picker {
  margin: 1ex;
  table {
    tbody {
      tr {
        td {
          margin: 5px;
        }
      }
    }
  }
}