// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.language-filter-controls {
  $bg: white;
  background-color: $bg;
  .over {
    padding: 1em;
    cursor: pointer;
    h3 {
      text-align: center;
    }
    &:hover {
      background-color: cyan;
    }
  }
  .under {
    background-color: $bg;
    display: none;
    position: relative;
    -webkit-transition: box-shadow 200ms;
    -moz-transition: box-shadow 200ms;
    -ms-transition: box-shadow 200ms;
    -o-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
    .shadow-clipper {
      display: none;
      width: 100%;
      height: 25px;
      background-color: $bg;
      position: absolute;
      top: -15px;
    }
    .mdl-list {
      margin: 0;
    }
  }
}


.language-item {
  border: 0.1ex solid #B0B0B0;
  border-bottom: 0;
  &.extinct {
    background-color: #DADADA;
  }
  &:hover {
    background-color: #E0E0F0;
  }
  &.extinct:hover {
    background-color: #CACADA;
  }
  span.iso {
    font-style: italic;
  }
  span.colour {
    min-width: 6em;
    @include box_sizing;
    @include border-radius(1ex);
    margin-right: 1em;
  }
  span.population, span.states, span.language-family, span.zones {
    padding-left: 3em;
  }
}

div.languages {
  border-bottom: 0.1ex solid #B0B0B0;
}

#language-overview-button:hover {
  background-color: #E0E0F0;
}

.iso-code {
  font-size: 24px;
}

.language-info {
  padding-right: 20px;
}

table.language-data th {
  vertical-align: top;
  text-align: end;
  padding: 1ex;
  font-size: 20px;
  font-weight: normal;
}

table.finish-line-status  {
  tr.nothing {
    background-color: lightgrey;
  }
  tr.no_progress {
    background-color: lightskyblue;
    .finish-line-progress-icon {
      color: dodgerblue;
    }
  }
  tr.progress {
    background-color: palegoldenrod;
    .finish-line-progress-icon {
      color: orangered;
    }
  }
  tr.complete {
    background-color: springgreen;
    .finish-line-progress-icon {
      color: forestgreen;
    }
  }
}

.translation-status.mdl-card {
  min-height: auto;
}

.jp-info .mdl-card__title {
  height: 100px;
  background: image-url("jp_logo.png") no-repeat;
  background-size: cover;
  background-position: 0 -110px;
  .mdl-card__title-text {
    padding: 0.5ex;
    background-color: rgba(255,255,255,0.75);
  }
}

.impact-story .mdl-card__title {
  height: 100px;
  background: image-url("ripples.svg") no-repeat;
  background-size: cover;
  background-position: 0 -30px;
  .mdl-card__title-text {
    padding: 0.5ex;
    background-color: rgba(255,255,255,0.75);
  }
}

.impact-story .mdl-card__supporting-text {
  img {
    width: 100%;
    object-fit: contain;
  }
}

img.language-map {
  max-width: 100%;
}

h1.coloured {
  @include box_sizing;
  @include border-radius(4px);
  display: inline-block;
  padding: 10px;
}

p.iso {
  font-style: italic;
  padding: 1ex;
  @include box_sizing;
  @include border-radius(4px);
  display: inline-block;
  background-color: #BBBBFF;
}

.pending-removal .org-name, .pending-approval .org-name {
  color: lightgrey !important;
}

#add-engaged-org-dialog, #add-translating-org-dialog {
  width: 350px;
  .mdl-dialog__content {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }
}

table td.check {
  text-align: center !important;
}

.mdl-card.translation-status {
  width: initial;
  max-width: 400px;
}

paper-tabs {
  color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

#colour_picker {
  margin: 1ex;
  table {
    tbody {
      tr {
        td {
          margin: 5px;
        }
      }
    }
  }
}