// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.language-item {
  border: 0.1ex solid #B0B0B0;
  border-bottom: 0;
  &.extinct {
    background-color: #DADADA;
  }
  &:hover {
    background-color: #E0E0F0;
  }
  &.extinct:hover {
    background-color: #CACADA;
  }
  span.iso {
      font-style: italic;
  }
  span.colour {
      min-width: 6em;
      @include box_sizing;
      @include border-radius(1ex);
      margin-right: 1em;
  }
  span.population, span.states, span.language-family, span.zones {
    padding-left: 3em;
  }
}

div.languages {
  border-bottom: 0.1ex solid #B0B0B0;
}

.language-filter-controls {
  text-align: right;
  padding-right: 1.2ex;
}

.language-filter-checkbox {
  padding: 1em 0 1em 1em;
  margin: 0.3ex;
}

#language-overview-button:hover {
  background-color: #E0E0F0;
}

h1.coloured {
	@include box_sizing;
	@include border-radius(4px);
	display: inline-block;
	padding: 10px;
}

p.iso {
	font-style: italic;
	padding: 1ex;
	@include box_sizing;
	@include border-radius(4px);
	display: inline-block;
	background-color: #BBBBFF;
}

paper-tabs {
    color: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

#colour_picker {
	margin: 1ex;
	table {
		tbody {
			tr {
				td {
					margin: 5px;
				}
			}
		}
	}
}