// Place all the styles related to the output_tallies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.outcome-area {
	padding-left: 2em;
	padding-right: 2em;
}

.tally-description {
	font-size: larger;
	font-weight: bold;
}