#project-index {
  max-width: 30em;
  margin: auto;
  i {
    padding-right: 1ex;
  }
}

#project-edit-head, .project-head {
  display: flex;
  justify-content: center;
  :submit {
    display: inline;
  }
  #show-project-button, #administer-project-button {
    margin: 1em;
  }
}

#languages-streams-panel .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.5em;
  grid-column-gap: 2em;
  grid-template-areas:
          "states languages streams";

  #project-states {
    grid-area: states;
  }
  #project-languages {
    grid-area: languages;
  }
  #project-streams {
    grid-area: streams;
  }
}

#project-supervisors-list {
  max-width: 40em;
  .edit_project_supervisor {
    display: inline;
    .mdlext-selectfield {
      max-width: 15em;
    }
  }
  .mdl-button--icon {
    margin-left: 2em;
  }
}

.add-facilitator-choices, .change-supervisor-choices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

table.supervisors .supervisor-name {
  font-size: large !important;
}

#targets-by-language-content-head {
  display: flex;
  align-items: flex-end;
  button {
    margin: 1em;
  }
}

td.quarterly-target {
  padding-left: 8px !important;
  padding-right: 8px !important;
  .quarterly-target-input {
    width: 40px !important;
    input.dirty {
      background-color: beige;
    }
  }
}

td.annual-target {
  font-size: large;
  font-weight: bold;
}