// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

div.report {
  .card-content {
    .reporter, .observers {
      text-align: right;
    }
    .report_type {
      float: right;
    }
    .report-languages, .report-topics {
      div {
        @include box_sizing;
        @include border-radius(4px);
        display: inline-block;
        padding: 5px;
        margin: 5px;
      }
    }
    .report-topics {
      text-align: right;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.mdl-card.report {
  margin: 1ex;
  background-color: #DCEDC8;
  &.archived {
    background-color: #E0E0F0;
    .mdl-card__title {
      color: #999999;
      .mdl-card__subtitle-text {
        display: block;
        padding-left: 1em;
        font-style: italic;
      }
    }
  }
}

li.report {
	.reporter-name, .report-date {
		border-right: solid white 1px;
		margin-right: 1em;
		padding-right: 1em;
	}
}

.report-content {
  width: 100% !important;
}

.report-pictures {
  img {
    display: inline-block;
    margin: 5px;
  }
  label {
    width: auto !important;
  }
}

.form-section-header {
  font-weight: bold;
  text-align: center;
  color: grey;
  font-size: large;
  padding-top: 1ex;
}

#report-submit-button {
  margin-top: 50px;
}

.empty-state {
  color: #999999;
  p { font-size: large; }
  width: 100%;
  align-content: center;
  text-align: center;
  .empty-state-icon {
    font-size: 175pt;
    color: #B0B0B0;
  }
}

#impact_report_fields, #impact-type-filters {
  margin-left: 2em;
}

#state-filters {
  max-height: 10em;
  overflow: auto;
}

.new-report-fab {
  position: fixed !important;
  z-index: 1000;
  right: 2em;
  bottom: 3em;
}