// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.login-card, .instructions {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.login-card .mdl-card__title {
  background-color: #fff !important;
  color: 000;
  height: 154px;
  background: image-url("LCI_logo.png") center / cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.resend-controls {
  text-align: center;
  margin-top: 1em;
  form {
    display: inline-block;
  }
}