// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-menu {
	.collection-item {
		i.material-icons {
			margin-right: 1em;
		}
	}
}

.lcr-icon {
  line-height: 1;
}

.outcome-area-cell {
  padding: 1em;
}

.mdl-card.outcome-area {
  width: 100%;
}

#lci-description {
  font-size: large;
}

#curator-card {
  background-color: #ddaa00 !important;
  .edit-count {
    font-weight: bold;
    font-size: larger;
    color: darkred;
  }
}

#welcome-content {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: auto;
  grid-row-gap: 1.5em;
  grid-template-areas:
          "line-chart god-at-work down-to-zero pie-chart"
          "unused about curator admin";
  .mdl-card {
    justify-self: center;
    background-color: #c5cae9;
    .mdl-card__title {
      justify-content: center;
      font-size: xx-large;
    }
    .mdl-card__supporting-text {
      font-size: large;
      line-height: 130%;
    }
  }
}

#god-at-work-card {
  grid-area: god-at-work;
}
#down-to-zero-card {
  grid-area: down-to-zero;
}
#about-card {
  grid-area: about;
}
#admin-links {
  grid-area: admin;
}
#curator-card {
  grid-area: curator;
}
#admin-card {
  grid-area: admin;
}

#nt-pie-chart-panel {
  grid-area: pie-chart;
  position: relative;
  z-index: 100;
  left: -50px;
  .chart-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
}

#progress-chart-panel {
  grid-area: line-chart;
  position: relative;
  z-index: 100;
  right: -50px;
  .chart-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
}

#get-national-chart-link {
  display: none;
}

#report-dialog, #progress-dialog {
  width: 30em;
}