// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-menu {
	.collection-item {
		i.material-icons {
			margin-right: 1em;
		}
	}
}

.lcr-icon {
  line-height: 1;
}

.see-information .mdl-card__supporting-text, .do-tasks .mdl-card__supporting-text {
  height: 5em;
}

.see-information .mdl-card__title {
  height: 200px;
  background: image-url("language_information.png") no-repeat;
  background-size: cover;
  background-position: 0 -70px;
}

.do-tasks .mdl-card__title {
  height: 200px;
  background: image-url("reporter.png") no-repeat;
  background-size: cover;
  background-position: 0 -70px;
}

.lci-info .mdl-card__title {
  height: 150px;
  background: image-url("LCI_logo.png") no-repeat;
  background-size: cover;
}

.outcome-area-cell {
  padding: 1em;
}

.mdl-card.outcome-area {
  width: 100%;
}

#lci-description {
  font-size: large;
}