// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-menu {
	.collection-item {
		i.material-icons {
			margin-right: 1em;
		}
	}
}

.lcr-icon {
  line-height: 1;
}

.outcome-area-cell {
  padding: 1em;
}

.mdl-card.outcome-area {
  width: 100%;
}

#lci-description {
  font-size: large;
}

#curator-card {
  background-color: #ddaa00 !important;
  .edit-count {
    font-weight: bold;
    font-size: larger;
    color: darkred;
  }
}

#welcome-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1.5em;
  grid-template-areas:
          "god-at-work down-to-zero"
          "about curator"
          "admin unused";
  .mdl-card {
    justify-self: center;
    background-color: #c5cae9;
    .mdl-card__title {
      justify-content: center;
      font-size: xx-large;
    }
    .mdl-card__supporting-text {
      font-size: large;
      line-height: 130%;
    }
  }
}

#god-at-work-card {
  grid-area: god-at-work;
}
#down-to-zero-card {
  grid-area: down-to-zero;
}
#about-card {
  grid-area: about;
}
#admin-links {
  grid-area: admin;
}
#curator-card {
  grid-area: curator;
}

#nt-pie-chart {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 150px;
}