// Place all the styles related to the Tallies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

div.coloured {
	@include box_sizing;
	@include border-radius(3px);
	display: inline-block;
	padding: 5px;
}

.tally-topic {
	margin-right: 1em;
}