// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-list.users {
  max-width: 30em;
  margin: auto;
}

#add-user-button {
  float: right;
}

#user-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.5em;
  grid-column-gap: 2em;
  grid-template-areas:
          "details permissions projects"
          "zones states languages"
          "zones states submit";

  #user-details-input {
    grid-area: details;
  }
  #user-permissions-input {
    grid-area: permissions;
  }
  #user-projects-input {
    grid-area: projects;
  }
  #user-zones-input {
    grid-area: zones;
    ul {
      max-width: 20em;
    }
  }
  #user-states-input {
    grid-area: states;
    ul, .checkbox-clarification-wrapper {
      max-width: 30em;
    }
  }
  #user-languages-input {
    grid-area: languages;
    ul, .checkbox-clarification-wrapper {
      max-width: 30em;
    }
  }
  #user-form-submit-button {
    grid-area: submit;
  }
  h3{
    padding-left: 1em;
  }
  .permission-control {
    padding-top: 1ex;
  }
}

.inline-controls {
  .mdl-checkbox, .mdl-radio {
    display: inline;
  }
  .control-divider {
    margin-right: 1ex;
  }
}
.checkbox-clarification {
  position: absolute;
  right: 0;
}
.checkbox-clarification-wrapper {
  position: relative;
}

.registration-approval-list {
  max-width: 35em;
  .mdl-list__item-secondary-action {
    padding-left: 1em;
  }
}


