// Place all the styles related to the zone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart-card {
  margin: 20px;
  width: 500px !important;
}

.landing-page-links {
  float: right;
  .urgent {
    background-color: orange;
  }
}

#landing-page-charts {
  margin-top: 1em;
  display: flex;
  #progress-chart-panel {
    width: 50%;
  }
  #nt-pie-chart-panel {
    width: 50%;
  }
}