<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <span><%= population %></span>
    </span>
  <span class="mdl-list__item-secondary-content">
      <%= population.international? ? 'in all countries' : 'in India' %>
      <span class="mdl-list__item-secondary-info">Data entered: <%= time_ago_in_words(population.created_at) %> ago</span>
    </span>
</li>