
    <p class="range-field">
      <label for="date-range">Constrain by report date</label>
      <input type="range" id="date-range" min="0" max="3" value="0" />
      <div id="date-range-value">Show all</div>
    </p>