<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="archived">
  <%= check_box_tag 'archived', 'on', @filters[:archived], class: 'report-view-filter mdl-switch__input' %>
  <span class="mdl-switch__label">Show archived reports</span>
</label>