<%= hidden_field_tag 'report_types', 'on' %>

<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="types-impact">
  <%= check_box_tag 'types[]',
      'impact',
      (!@filters[:types] or @filters[:types].include?(:impact)),
      id: 'types-impact',
      class: 'report-view-filter mdl-switch__input'
  %>
  <span class="mdl-switch__label">Impact reports</span>
</label>

<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="types-planning">
  <%= check_box_tag 'types[]',
      'planning',
      (!@filters[:types] or @filters[:types].include?(:planning)),
      id: 'types-planning',
      class: 'report-view-filter mdl-switch__input'
  %>
  <span class="mdl-switch__label">Planning reports</span>
</label>