<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="significant">
  <%= check_box_tag 'significant', 'on', @filters[:significant], class: 'report-view-filter mdl-switch__input' %>
  <span class="mdl-switch__label">Only significant reports</span>
</label>