<a class='dropdown-button btn-flat' href='#' data-activates='selector_dropdown' data-hover="true">
  <i class="material-icons">dashboard</i>
  Group by...</a>
<div id='selector_dropdown' class='dropdown-content'>
  <%= link_to by_language_reports_path, class: "collection-item waves-effect" do %>
    <i class="material-icons">language</i>
    Language
  <% end %>
  <%= link_to by_topic_reports_path, class: "collection-item waves-effect" do %>
    <i class="material-icons">local_offer</i>
    Outcome area
  <% end %>
  <%= link_to by_reporter_reports_path, class: "collection-item waves-effect" do %>
    <i class="material-icons">person</i>
    Reporter
  <% end %>
  <%= link_to reports_path, class: "collection-item waves-effect" do %>
    <i class="material-icons">view_list</i>
    Listing
  <% end %>
</div>