<div class="report-<%= simple_report.id %>-content">
  <%= simple_format simple_report.content %>
</div>
<% simple_report.pictures.each do |picture| %>
  <%= image_tag picture.ref_url if picture.ref? %>
<% end %>