<dialog class="mdl-dialog" id="tag-dialog">
  <div class="mdl-dialog__content "><p class="report-content"></p></div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button close">Done</button>
  </div>
</dialog>