<% provide(:title, 'Reports grouped by Language') %>
<h1>Reports grouped by Language</h1>
<ul class="collapsible" data-collapsible="accordion">
  <% @reports.group_by_collection(@languages, &:languages).each do |language, lang_reports| %>
    <li>
      <div class="collapsible-header <%= colour_class(language.colour) %>"><%= language.name %></div>
      <div class="collapsible-body <%= colour_class(language.colour) %>">
        <% lang_reports.in_groups_of(3, false) do |report_group| %>
          <div class="row">
            <%= render partial: "report", collection: report_group, locals: {time: true, languages: false, topics: true, wrapper: "col s12 m6 l4"} %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>