<% provide(:title, 'Report') %>
<% provide(:context_title, "#{@report.report_type} Report") %>
<%= render partial: 'mdl_report', object: @report %>

<%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
  <i class="material-icons">add</i>
<% end %>

<div class="mdl-tooltip" data-mdl-for="show-report-fab">
  Write another report
</div>