<% provide(:title, 'Report') %>
<%= render partial: "mdl_report", object: @report, locals: {time: false, languages: true, topics: true, wrapper: false} %>

<%= link_to new_report_path(@report), id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
  <i class="material-icons">add</i>
<% end %>

<div class="mdl-tooltip" data-mdl-for="show-report-fab">
  Write another report
</div>