$('.reports-count-container').html(`<div>Showing <%= j "#{@reports.count} #{'report'.pluralize(@reports.count)}" %></div>`);
$('.reports-container').html(`
  <% if @reports.any? %>
    <%= j render partial: 'reports/mdl_report', collection: @reports, cached: true %>
  <% else %>
    <%= j render 'reports/empty_state' %>
  <% end %>
`);
componentHandler.upgradeElements($('.mdl-tooltip').get());
$('#report-filter-spinner').removeClass('is-active');