<a id="translation-project-<%= translation_project_tab.id %>-tab"
   href="#translation-project-<%= translation_project_tab.id %>-panel"
   class="mdl-tabs__tab">
  <%= translation_project_tab.name %>
</a>