<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m6 l4">
        <p><a class="feedback-link grey-text text-lighten-3" href="https://docs.google.com/forms/d/1Sb_2LImQQjOPC4XbQmRFnJpFtCws51xFcbDdg8Y_rkY/viewform?usp=send_form">Feedback</a></p>
        <p>
        <a class="whatsapp-link grey-text text-lighten-3" href="whatsapp://send?text=Hello%20World!">Report through WhatsApp</a></p>
      </div>
      <div class="col s6 m6 l4 offset-l4 grey-text text-lighten-3">
        <p>Version <%= SagReporter::Application::VERSION %><br />Last Command Initiative</p>
      </div>
    </div>
  </div>
</footer>