<footer class="page-footer">
  <div class="container">
    <p class="grey-text text-lighten-3 right">Version <%= SagReporter::Application::VERSION %><br />Last Command Initiative</p>
  </div>
</footer>