<footer class="mdl-mini-footer mdl-color--primary">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Last Command Initiative
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="whatsapp://send?text=LCIR%20Report%0D%0AYour%20name%3A%0D%0AReport%20state%3A%0D%0AReport%20date%3A%0D%0ARelating%20to%20language%28s%29%3A%0D%0AEnter%20your%20impact%2C%20need%20or%20challenge%20report%3A">Report through WhatsApp</a></li>
      <li><a href="https://docs.google.com/forms/d/1Sb_2LImQQjOPC4XbQmRFnJpFtCws51xFcbDdg8Y_rkY/viewform?usp=send_form">Feedback</a></li>
      <li></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <span class="version-number">Version <%= SagReporter::Application::VERSION %></span>
    <%= yield :attribution %>
  </div>
</footer>