<footer class="page-footer">
  <div class="container">
    <a class="white-text feedback-link" href="https://docs.google.com/forms/d/1Sb_2LImQQjOPC4XbQmRFnJpFtCws51xFcbDdg8Y_rkY/viewform?usp=send_form">Feedback</a>
    <p class="grey-text text-lighten-3 right">Version <%= SagReporter::Application::VERSION %><br />Last Command Initiative</p>
  </div>
</footer>