<% unless yield(:colour).empty? %>
<div class="card-panel <%= yield(:colour) %> lighten-2 z-depth-1"><h1><%= yield(:heading) %></h1></div>
<% else %>
<div class="card-panel teal lighten-2 z-depth-1"><h1><%= yield(:heading) %></h1></div>
<% end %>